.container {
    display: grid;
    grid-column-gap: 100px;
    grid-row-gap: 48px;
    max-width: 1040px;
    width: auto;
    margin: 112px auto;
}

.previewLeft {
    grid-template: "header header" auto "preview description" auto/1fr 1fr;
}

.previewRight {
    grid-template: "header header" auto "description preview" auto/1fr 1fr;
}

.header {
    grid-area: header;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    text-transform: uppercase;
}

.descriptionContainer {
    grid-area: description;
}

.text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    margin: 24px 0 0 0;
}

.text:first-child {
    margin-top: 0;
}

.descriptionContainer button {
    margin-top: 32px;
}

.preview {
    grid-area: preview;
    width: 100%;
}